<div class="hero-section text-center">
    <div class="container">
        <h1 class="aroma-title">AromaQuest</h1>
        <h1 class="hero-title">Trouvez le parfum qui vous correspond</h1>
    </div>
    <a class="btn btn-lg btn-start mt-4" href="<%= new_result_path %>">Démarrer</a>
</div>

<div class="step-container mt-5">
    <h2 class="text-center">COMMENT ÇA MARCHE</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 mb-4">
            <div class="step-card text-center p-4">
                <h3 class="h3-step">1. Questionnaire</h3>
                <p>Répondez à notre questionnaire de moins de 5 min.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="step-card text-center p-4">
                <h3 class="h3-step">2. Résultats</h3>
                <p>Dès validation de votre questionnaire, accèdez à une sélection de parfums conçue pour vous, à retrouver sur votre Tableau de bord.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="step-card text-center p-4">
                <h3 class="h3-step">3. Achat du parfum</h3>
                <p>Votre choix est fait ! Il vous suffit de finaliser votre commande ou de localiser le magasin le plus proche.</p>
            </div>
        </div>
    </div>
</div>
